<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta property="og:title" content="<%= datos.productoNombre %>">
    <meta property="og:description" content="<%= datos.descripcion %>">
    <meta property="og:image" content="<%= datos.url %>">
    <meta property="og:type" content="website">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SLRVDZJP6F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SLRVDZJP6F');
</script>
</head>
<header>
    <style>
        body {
      font-family: sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
    }
    
    form {
      width: 600px;
      margin: 2.5em auto;
      background-color:#f2f2f2;
      padding: 20px;
      border-radius: 10px;
     
    }

    button {
      background-color: #181e1f;
      color: #ffffff;
      font-size: 18px;
      border-radius: 5px;
      display: block;
      padding: 0.5rem 1rem;
      width: 200px;
      margin: 0 auto;
      
    }
    
    header{
      background-color: #f2f2f2;
      text-align: center;
      padding: 25px 0;
    }

    nav a{
      display: inline-block;
      text-decoration: none;
      color: #696969;
      margin: 0 40px;
      padding: 5px 15px;
      border-radius: 30px;
    }
    </style>
    </header>

<body>
<header>
    <nav>
        <p>Detalles</p>
        <a href="/">Volver</a>
    </nav>
</header>
<form>
    <div >
      <div class="producto lista" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="sku" content="<%= datos.id %>">
        <img src="<%= datos.url %>" itemprop="image">
      
        <h2 class="texto" itemprop="name" style="font-weight: bolder;"><%= datos.productoNombre %></h2>
      
        <p class="texto" itemprop="description"><%= datos.descripcion %></p>
      
        <ul class="lista-atributos">
          <li class="texto">Categoria: <span itemprop="category"><%= datos.categoriaNombre %></span></li>
          <li class="texto">Marca: <span itemprop="brand"><%= datos.marca %></span></li>
          <li class="texto">Material: <span itemprop="material"><%= datos.material %></span></li>
        </ul>
      
        <div class="precio-compra">
          <p class="texto precio" itemprop="price"><%= datos.precio %>$</p>
          <a href="/pedidoprd/<%= datos.id%>" class="btn btn-success" itemprop="url">Comprar</a>
        </div>
      </div>
      
    </div>
</form>
</body>
</html>

